.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/unfinished/*.Rmd
docs/unfinished/*.Rmd
docs/r-tutorial/on-hold/*.Red
workflow.R
*.Rproj
analysis/data/
analysis-user-group.Rproj
data/
plots/
raw/
Docs/0_archive_files
Docs/0_bugs_files