p.caption {
  color: red;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* Footer Container */
.custom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-top: 1px solid grey;
  font-size: 0.7em;
}
.footer-left img, .footer-right img {
  width: 100%;
  height: auto;
}
.footer-center {
  text-align: center;
  color: #6c757d;
  flex-grow: 1;
}
.footer-center a {
  color: #007bff; /* Blue color for link */
  text-decoration: none;
}
.footer-center a:hover {
  text-decoration: underline;
}
e {
  display: block;
  margin: 1em 0;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}
